<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Home</title>
 
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/signup.css" rel="stylesheet">

 
</head>
 
<body>

    <div class = "navdiv">
        <ul class="nav">
            <li class = "active"><a href="/">Home</a></li>
            <li class = "nav_tab"><a href="contact.asp">Engage Now</a></li>
            <li class = "nav_tab"><a href="about.asp">faciliate Engagement</a></li>
        </ul> 
    </div>

    <div class="jumbotron">
        <h1>Zelf</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="main.html" role="button">Sign up today</a>
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6"><a class = "btn btn-lg btn-success" href="/social.html" role = "button">
            <h4>Self</h4>
            <p>Donec id elit non mi porta gravida at</p>
 

        </a> </div>
 
        <div class="col-lg-6"><a class = "btn btn-lg btn-success" href="/social.html" role = "button">
            <h4>Social</h4>
            <p>Donec id elit non mi porta gravida</p>
 
        </a></div>
    </div>


 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>