<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Social</title>
 
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/signup.css" rel="stylesheet">

 
</head>
 
<body>

    <div class = "navdiv">
        <ul class="nav">
            <li class = "nav_tab"><a href="/">Home</a></li>
            <li class = "active"><a href="/main.html">Engage Now</a></li>
            <li class = "nav_tab"><a href="about.asp">faciliate Engagement</a></li>
        </ul> 
    </div>


 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>